<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<h1>Hello we are "Jaepil tour". We provide tours to various regions including Southeast Asia / Taiwan, China / Hong Kong / Macau, Japan, Europe / Turkey / Dubai, South Pacific, USA / Canada / Hawaii, India / Latin America / Africa and Domestic / Jeju. </h1>
			<p><button> South Asia / Taiwan </button></p>
			<p><button> China / Hong Kong / Macau </button></p>
			<p><button> Japan </button></p>
			<p><button> Europe / Turkey / Dubai </button></p>
			<p><button> South Pacific </button></p>
			<p><button> USA / Canada / Hawaii </button></p>
			<p><button> India / Latin America / Africa </button></p>
			<p><button> Korea / Jeju </button></p>
		</div>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
