<!DOCTYPE HTML>
<html>
	<head>
		<title>Jaepil Tour</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<!--Seungjun-->
		<div id="header_image">
			<span class="avatar"><img src="images/profile/profile1.jpg" alt="" width="20%"/></span>
		</div>
			<!-- Wrapper -->
			<div id="wrapper">
					<!-- Header -->
					<header id="header">
						<h1>HI, <strong>"Jaepil". </strong> Have a nice day~</h1>
					</header>

					<!-- Main -->
					<section id="main">
						<table>
							<tr>
								<th> User ID : </th>
								<th> Jaepil </th>
							</tr>
							<tr>
								<th> First Name </th>
								<th> Seungjun </th>
							</tr>
							<tr>
								<th> Last Name </th>
								<th> Ha </th>
							</tr>
							<tr>
								<th> Phone </th>
								<th> 01035532508 </th>
							</tr>
							<tr>
								<th> Location </th>
								<th> 경기도 수원시 장안구 율전동 서부로82번길 15-3 302호 </th>
							</tr>
							<tr>
								<th> Preference </th>
								<th> 국내/제주도, 유럽 </th>
							</tr>
						</table>
					</section>
					
					<!-- Footer -->
					<footer id="footer">
					<input type="text" id="currentTime"></input>
					<!--<input type="datetime-local" id="currentTime"></input>-->
						<p>Capstone Project Jaepil Tour</p>
						<form action="client">
							<button>Go back Client Page</button>
						</form>
					</footer>
			</div>

			<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/main.js"></script>
			<script src="js/mypic.js"></script>

	</body>
</html>
