<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Jaepil Tour</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<!--Seungjun-->
		<div id="header_image">
			<span class="avatar"><img src="images/search/search1.png" alt="" width="100%" height="40%"/></span>
		</div>
			<!-- Wrapper -->
			<div id="temp">
				<div id="up">
					<!-- Header -->
					<header id="header">
						<h1>HI, <strong>"User ID". </strong> Have a nice day~</h1>
					</header>
				</div>
				<div id="left">
					<p>
						<input type="button" value="South Asia / Taiwan" class="search_btn1" id="btn1" />
					</p>
					<p>
						<input type="button" value="China / Hong Kong / Macau" class="search_btn1" id="btn2" />
					</p>
					<p>
						<input type="button" value="Japan" class="search_btn1" id="btn3" />
					</p>
					<p>
						<input type="button" value="Europe / Turkey / Dubai" class="search_btn1" id="btn4" />
					</p>
					<p>
						<input type="button" value="South Pacific" class="search_btn1" id="btn5" />
					</p>
					<p>
						<input type="button" value="USA / Canada / Hawai" class="search_btn1" id="btn6" />
					</p>
					<p>
						<input type="button" value="India / Latin America / Afric" class="search_btn1" id="btn7" />
					</p>
					<p>
						<input type="button" value="Korea / Jeju" class="search_btn1" id="btn8" />
					</p>
				</div>
				<div id="right">
					<div id="div1" style="display:none">
						<p> 중화민국(한국 한자: 中華民國, 영어: Republic of China)은 동아시아에 위치한 공화국이다. 본래 1912년 신해혁명 이후 청나라를 멸하고 중국 내륙에 세워진 공화국이었다. 다만 건국 초기에는 내분과 외침 등으로 불안하였고, 국공 내전으로 쫓겨나 현재는 타이완 등 몇 개의 도서 지역만을 통치하게 되었다. 따라서, 통상적으로 영토 중 가장 큰 섬의 이름인 타이완(영어: Taiwan) 또는 대만(한국 한자: 臺灣)이라고 불리기도 한다. </p>
					</div>
					<div id="div2" style="display:none">
						<p> 국가의 가사는 1900년대 초에 쓰여졌다. 작사자는 크게 윤치호라는 설과 안창호라는 설 두 가지가 있으며, 국사편찬위원회의 공식적인 입장으로는 미상이다. 작사자 윤치호 설은 윤치호가 애국가의 가사를 1907년에 써서 후에 그 자신의 이름으로 출판했다는 것이다. 한편 안창호가 썼다는 주장은 안창호가 애국가를 보급하는 데에 앞장섰다는 데에 중점을 두고 있다. 1908년에 출판된 가사집 《찬미가》에 수록된 것을 비롯한 많은 일제 강점기의 애국가 출판물은 윤치호를 작사자로 돌리고 있는 등 윤치호 설에는 증거가 많은 반면[4] 안창호 설에는 실증적인 자료가 부족하다. </p>
					</div>
					<div id="div3" style="display:none">
						<p> 그밖에 '성자신손 오백년은, 우리 황실이요'로 시작되는 협성회 무궁화가 역시 윤치호가 작사를 하였다는 설이 있다.[7] 윤치호가 지은 노래 중 안창호가 가사의 성자신손 오백년은 우리 황실이요 를 문제삼아 가사를 바꾸라고 요청하자 동해물과 백두산이 마르고 닳도록 으로 고쳤다. 그러나 1919년 대한민국 임시 정부에 참여한 안창호는 윤치호가 지었다가 본인 스스로 수정한 부분 중에서도 우리 대한 만세를 우리 나라 만세로, 이기상과 이맘으로 임금을 섬기며를 이기상과 이맘으로 충성을 다하며로 안창호가 다시 고쳤다는 것이다.

독립운동가 겸 정치인 주요한과, 독립운동가 안태국의 사위 홍재형 등은 그가 지은 협성회 무궁화가를 안창호의 요청으로 개사한 것이 애국가의 기원이 되었다고 진술했다. 이는 한말 독립운동가인 안태국(안창호, 양기탁 선생과 신민회를 조직, 105인 사건의 주모자로 피검)의 사위인 홍재형이 안태국의 말을 회고하는 < 안도산전서(安島山全書) > 의 내용에서 살펴 볼 수 있다.[8] </p>
					</div>
					<div id="div4" style="display:none">
						<p> 애국가는 1940년경에 상하이에 있던 대한민국 임시 정부에 전해졌고 국가로 채택되었으나 한반도에는 전해지지 못했다. 다만 1942년 8월 29일에 개국한 미국의 소리 한국어 방송은 애국가 1절을 매일 방송하였다. </p>
					</div>
					<div id="div5" style="display:none">
						<p> 조선민주주의인민공화국은 대한민국을 주권 국가로 인정하지 않기 때문에 일반적으로 대한민국의 애국가 연주를 거부하고 있다. 이 때문에 조선민주주의인민공화국 축구 국가대표팀의 대한민국 축구 국가대표팀과의 2010년 FIFA 월드컵 예선 홈 경기는 평양이 아닌 중국에서 치러졌었다. 다만 2013년 평양에서 열린 아시안컵 및 아시아 클럽 대항 역도선수권대회에서는 이례적으로 대한민국의 애국가 연주가 허용되었다. </p>
					</div>
					<div id="div6" style="display:none">
						<p> 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세. 무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세. 남산[11] 위에 저 소나무, 철갑을 구른 듯 바람서리[12] 불변함은 우리 기상일세. 무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세. </p>
					</div>
					<div id="div7" style="display:none">
						<p> 므에ㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔㅔ </p>
					</div>
					<div id="div8" style="display:none">
						<p> 가나다라마바사아자차카타파하 아야어여오요우유우으흐에!  </p>
					</div>
				</div>
				<div id="bottom">
					<footer id="footer2">
						<input type="text" id="currentTime"></input>
						<p>Capstone Project Jaepil Tour</p>
						<form action="client">
							<button>Go back Client Page</button>
						</form>
					</footer>
				</div>
			</div>

	<!-- Scripts for firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

	<!-- Scripts for jquery default settings -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.poptrox.min.js"></script>
	<script src="js/skel.min.js"></script>

	<!-- Scripts by myself -->
	<script src="js/main.js"></script>
	<script src="js/mypic.js"></script>
    <script src="js/fire.js"></script>

    <script type="text/javascript">
        document.getElementById("currentTime").value = new Date().toISOString().slice(0,16);
		$("#btn1").click(function() {
			if(document.getElementById("div1").style.display == "none"){
				document.getElementById("div1").style.display = "inline";
				document.getElementById("btn1").style.background = "#99aa44";
			}
			else{
				document.getElementById("div1").style.display = "none";
				document.getElementById("btn1").style.background = "#000000";
			}
		});
		$("#btn2").click(function() {
			if(document.getElementById("div2").style.display == "none"){
				document.getElementById("div2").style.display = "inline";
				document.getElementById("btn2").style.background = "#99aa44";
			}else{
				document.getElementById("div2").style.display = "none";
				document.getElementById("btn2").style.background = "#000000";
			}
		});
		$("#btn3").click(function() {
			if(document.getElementById("div3").style.display == "none"){
				document.getElementById("div3").style.display = "inline";
				document.getElementById("btn3").style.background = "#99aa44";
			}else{
				document.getElementById("div3").style.display = "none";
				document.getElementById("btn3").style.background = "#000000";
			}
		});
		$("#btn4").click(function() {
			if(document.getElementById("div4").style.display == "none"){
				document.getElementById("div4").style.display = "inline";
				document.getElementById("btn4").style.background = "#99aa44";
			}else{
				document.getElementById("div4").style.display = "none";
				document.getElementById("btn4").style.background = "#000000";
			}
		});
		$("#btn5").click(function() {
			if(document.getElementById("div5").style.display == "none"){
				document.getElementById("div5").style.display = "inline";
				document.getElementById("btn5").style.background = "#99aa44";
			}else{
				document.getElementById("div5").style.display = "none";
				document.getElementById("btn5").style.background = "#000000";
			}
		});
		$("#btn6").click(function() {
			if(document.getElementById("div6").style.display == "none"){
				document.getElementById("div6").style.display = "inline";
				document.getElementById("btn6").style.background = "#99aa44";
			}else{
				document.getElementById("div6").style.display = "none";
				document.getElementById("btn6").style.background = "#000000";
			}
		});
		$("#btn7").click(function() {
			if(document.getElementById("div7").style.display == "none"){
				document.getElementById("div7").style.display = "inline";
				document.getElementById("btn7").style.background = "#99aa44";
			}else{
				document.getElementById("div7").style.display = "none";
				document.getElementById("btn7").style.background = "#000000";
			}
		});
		$("#btn8").click(function() {
			if(document.getElementById("div8").style.display == "none"){
				document.getElementById("div8").style.display = "inline";
				document.getElementById("btn8").style.background = "#99aa44";
			}else{
				document.getElementById("div8").style.display = "none";
				document.getElementById("btn8").style.background = "#000000";
			}
		});
    </script>

	</body>
</html>
