<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/main.css" />

</head>
<body>
	<h1>Firebase Test</h1>
	<p>Firebase console에 데이터가 추가 되었는지 확인하세요</p>
	<button id="test_btn1" name="test_btn1"> Auth </button>
	<button id="test_btn2" name="test_btn2"> Upload </button>
	<button id="test_btn3" name="test_btn3"> Download </button>
	<button id="test_btn4" name="test_btn4"> Ref </button>
	<img id="tests" name="tests" src=""/>
	<img id="blah" name="blah" src=""/>
	<div id="wrapper">
		<section id="main">
			<section class="thumbnails" id="test_thumb">
			</section>
		<section>
	</div>
	<div id="test_img_div" name="test_img_div">
	</div>
    <input type="file" id="test_filebtn2" onchange="ReadURL(getCookie('uid'), this);" multiple/>	

	<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.poptrox.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/fire.js"></script>
	<script src="js/main.js"></script>
	<script src="js/mypic.js"></script>
	<script>
		var getCookie = function(name) {
			var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
			return value? value[2] : null;
		};
		console.log("Cookie : " , getCookie("uid"));
	</script>
</body>
</html>
