<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/main.css" />

</head>
<body>
	<h1>Firebase Test</h1>
	<p>Firebase console에 데이터가 추가 되었는지 확인하세요</p>
	<button id="test_btn1" name="test_btn1"> button </button>
	<!--<img id="test_img1" name="test_img1" src="https://firebasestorage.googleapis.com/v0/b/mypic-92b94.appspot.com/o/images%2Fcinque-terre.jpg?alt=media&token=84ee3271-5468-464c-ac1d-78ceadf50247"/>-->
	<img id="tests" name="tests" src=""/>
	

	<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-database.js"></script>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.poptrox.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/fire.js"></script>
	<script src="js/main.js"></script>
	<script src="js/mypic.js"></script>
</body>
</html>
