<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Jaepil Tour</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<!--Seungjun-->
		<div id="header_image">
			<span class="avatar"><img src="images/general/mypic1.png" alt="" width="20%" height="20%"/></span>
		</div>
			<!-- Wrapper -->
			<div id="wrapper">
				<!-- travel_main -->
				<div id="travel_main">
					<button id="travel_load">Load Whole Travel List</button>
				</div>
				<section id="main">	
					<section id="thumbnails">
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo1.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
						<img src="images/demo/demo3.png" alt="" />
						<img src="images/demo/demo2.png" alt="" />
					</section>
				</section>
				<!-- Footer -->
				<footer id="footer">
					<input type="text" id="currentTime"></input>
					<p>Capstone Project Jaepil Tour</p>
					<form action="client">
						<button>Go back Clent Page</button>
					</form>
				</footer>
			</div>

    <!-- Scripts for firebase -->
	<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

    <!-- Scripts for jquery defaults settings -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.poptrox.min.js"></script>
	<script src="js/skel.min.js"></script>

    <!-- Scripts by myself -->
	<script src="js/main.js"></script>
	<script src="js/mypic.js"></script>
	<script src="js/fire.js"></script>

    <script type="text/javascript">
        document.getElementById("currentTime").value = new Date().toISOString().slice(0,16);
    </script>

	</body>
</html>
