<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Jaepil Tour</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<!--Seungjun-->
		<div id="header_image">
			<span class="avatar"><img src="images/search/search1.png" alt="" width="100%" height="40%"/></span>
		</div>
			<!-- Wrapper -->
			<div id="temp">
				<div id="up">
					<!-- Header -->
					<header id="header">
						<h1>HI, <strong>"User ID". </strong> Have a nice day~</h1>
					</header>
				</div>
				<div id="left">
					<p>
						<input type="button" value="South Asia / Taiwan" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="China / Hong Kong / Macau" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="Japan" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="Europe / Turkey / Dubai" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="South Pacific" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="USA / Canada / Hawai" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="India / Latin America / Afric" class="search_btn1"/>
					</p>
					<p>
						<input type="button" value="Korea / Jeju" class="search_btn1"/>
					</p>
				</div>
				<div id="right">
					<p> Somethings.. </p>
				</div>
				<div id="bottom">
					<footer id="footer2">
						<input type="text" id="currentTime"></input>
						<p>Capstone Project Jaepil Tour</p>
						<form action="client">
							<button>Go back Client Page</button>
						</form>
					</footer>
				</div>
			</div>

			<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/main.js"></script>
			<script src="js/mypic.js"></script>

	</body>
</html>
